.about {
  padding: 46px 15px;
  &__title {
    color: $text-color;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    margin: 0px;
  }
  &__text {
    color: $text-color;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0px;
    margin-top: 6px;
  }
  &__item:last-child {
    margin-top: 20px;
  }
}
