@import "variables";
@import "mixins";
@import "header";
@import "logo";
@import "burger";
@import "headline";
@import "buttons";
@import "about";
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans";
  color: $text-color;
}
