.logo {
  display: flex;
  align-items: center;
  &__img {
    margin: 8px 13px 8px 15px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $text-color;
  }
}
